#contactFormSection {
    justify-content: center;
    background-color: black;
    width: 60%;
}

#contactImageSection {
    background-image: url('../img/contactImageBackground.avif');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 40%;
}

#contactoMain section form {
    width: 80%;
}