header {
    background-color: #1e1e21;
    height: 60px;
    padding: 0 20px;
}

.dropDownMenuContainer:hover .dropdownMenu {
    display: flex;
    flex-direction: column;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 20px;
    left: 60px;
    border-radius: 5px;
    background-color: #383844;
    width: fit-content;
    z-index: 1;
}

.dropdownOption {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.dropdownMenu a:hover {
    background-color: #c4a209;
}

.logo {
    height: 40px;
}

.logo:hover {
    cursor: pointer;
}