.tituloPortafolio {
    font-size: 40px;
    margin: 15px 0;
}

.contenedorPortafolio {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    margin: 30px auto;
    padding: 10px 0;
}

.the-packs {
    overflow: hidden;
    height: 500px;
}

.container {
    margin: 10px 70px;
}

.slideshow .slide {
    position: relative;
    width: 100%;
}

#grid1_image1 {
    background-image: url('../img/portfolio_family.jpg');
}

#grid1_image2 {
    background-image: url('../img/portfolio_engagement.jpg');
}

#grid1_image3 {
    background-image: url('../img/portfolio_nature.jpg');
}

#grid2_image1 {
    background-image: url('../img/portfolio_graduation.jpg');
}

#grid2_image2 {
    background-image: url('../img/portfolio_quinceanera.jpg');
}

#grid2_image3 {
    background-image: url('../img/portfolio_wedding.jpg');
}

#grid3_image1 {
    background-image: url('../img/portfolio_pets.jpg');
}

#grid3_image2 {
    background-image: url('../img/portfolio_baptism.jpg');
}

#grid3_image3 {
    background-image: url('../img/portfolio_pregnancy.jpg');
}

.slide--layout-1 .slide_img {
    position: absolute;
    width: calc(50% - 0.6em);
}

.slide--layout-1 .slide_img:hover {
    filter: brightness(20%);
    cursor: pointer;
}

.slideshow .slide_img-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.slideshow_nav {
    justify-content: right;
    margin: 10px 70px;
}

.slideshow_nav button,span {
    all: unset;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    color: #878787;
}
  
.slideshow_nav button:hover {
    color: #c4a103;
    cursor: pointer;
}