/*-----------------------------------------------------------------------------------*/
/*  2. Header 
/*-----------------------------------------------------------------------------------*/
h2.logo-title {
  margin: 4px 0 0;
  font-size: 2rem;
}

h2.logo-title a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: 0.4s;
}

h2.logo-title a:hover {
  color: #999;
}

li.menu-item:last-child {
  margin: 0;
}

li.menu-item a {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

#header li.menu-item-sub {
  margin: 0;
}

.mobile-menu {
  display: block;
}

.video-button {
  display: flex;
  justify-content: center;
}

.video-button .button {
  margin-right: 20px;
}

.client-img {
  border-radius: 50%;
  border: 3px solid #da0d2b;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.client-name {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.client-job {
  color: #999999;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.1em;
}

.partner-logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: contain;
}

.partner-desc {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  color: #fff;
  text-align: center;
  padding: 0 30px;
}

h3.partner-name {
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}

.partner-desc p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.6px;
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.swiper-button-next i,
.swiper-button-prev i {
  font-size: 20px;
  color: #ffffff;
}

/*-----------------------------------------------------------------------------------*/
/*  4. Album
/*-----------------------------------------------------------------------------------*/

.item-title {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0;
  padding: 1em 0;
  color: #000000;
  text-align: left;
  text-transform: capitalize;
}

/* 4.5 Unique Stack */

/* 4.5.1 3 Grid Images */

.full-height {
  height: 880px;
}

.slideshow {
  height: 100%;
  position: relative;
}

.slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  pointer-events: none;
  opacity: 0;
}

.slideshow .slide--current {
  pointer-events: auto;
  opacity: 1;
}

.slide--layout-1 .slide_img:first-child {
  height: 100%;
}

.slide--layout-1 .slide_img:nth-child(n + 2) {
  left: calc(50% + 0.5em);
  height: calc(50% - 0.5em);
}

.slide--layout-1 .slide_img:nth-child(3) {
  top: calc(50% + 0.5em);
}

.icon {
  display: inline-block;
  width: 45px;
  height: auto;
  margin: 0 auto;
  fill: currentColor;
  vertical-align: middle;
}

.slideshow-slider {
  position: relative;
  width: 100%;
  height: 93vh;
}

.slideshow-slider .slides {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow-slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.slideshow-slider .slider--current {
  opacity: 1;
  pointer-events: auto;
}

.slideshow-slider .slide_img {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-size: cover;
  background-position: 50% 50%;
}

.slideshow-slider .slide__title {
  position: relative;
  font-size: 5vh;
  margin-bottom: 20px;
  cursor: default;
  line-height: 3rem;
  color: #fff;
  z-index: 2;
}

.slideshow-slider .slide--current {
  opacity: 1;
  pointer-events: auto;
}

/*-----------------------------------------------------------------------------------*/
/*  5. Gallery
/*-----------------------------------------------------------------------------------*/

.caption-gallery p {
  font-size: 1.8rem;
  color: #8d99ae;
  line-height: 34.2px;
}

.preview {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: center;
  -webkit-jusify-content: center;
  align-content: center;
  -webkit-align-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  pointer-events: none;
}

.action--close {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  padding: 1em;
  opacity: 0;
  transition: opacity 0.3s transform 0.3s;
  -webkit-transition: opacity 0.3s transform 0.3s;
  transform: scale3d(0.6, 0.6, 1);
}

.action {
  font-size: 1.8em;
  margin: 0;
  cursor: pointer;
  vertical-align: top;
  color: #fff;
  border: none;
  background: none;
}

.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
}

.preview--image-loaded .action--close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
}

.preview::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #1f1d1d;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
}

span.detail-title {
  font-weight: 700;
  min-width: 75px;
  display: inline-block;
}

/* 5.5 Gallery Carousel two */

.hidden-img {
  position: relative;
  visibility: hidden;
}

a.category-name {
  color: #da0d2b;
  font-weight: 700;
}

a.card-link {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  transition: 0.4s;
}

a.card-link:hover {
  color: #da0d2b;
  border-bottom: 1px solid #da0d2b;
}

.style-pagination {
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  margin-right: 4px;
  font-size: 1.2rem;
  background: transparent;
  color: #000;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-family: "Poppins";
  transition: 0.4s;
}

/*-----------------------------------------------------------------------------------*/
/*  8. Blog Page /*-----------------------------------------------------------------------------------*/

.blog-block {
  padding: 80px 0;
}

.content-post p {
  color: #000;
  margin-bottom: 18px;
}