#quoteMain {
    background-image: url('../img/quoteFormBackground.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 500px;
    align-items: center;
}

#bookMain {
    background-image: url('../img/bookFormBackground.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 500px;
    align-items: center;
}

#myPhotoMain {
    background-image: url('../img/myPhotosBackground.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    height: 500px;
    align-items: center;
}

form {
    background-color: rgb(30, 30, 33, 0.97);
    width: 30%;
    margin: auto;
    padding: 30px 0;
    border-radius: 10px;
}

input,textarea {
    border: #1e1e21;
    margin: 15px 0;
    padding: 5px;
    background-color: #1e1e21;
    border-bottom: solid 2px white;
    color: white;
    font-size: 18px;
}

input:hover,textarea:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

input::placeholder {
    font-size: 18px;
}

input:hover::placeholder,textarea:hover::placeholder {
    color: white;
}

.formContainer {
    width: 60%;
    margin: auto;
}

.formTitle {
    margin: 10px;
    text-align: center;
}

.formButton {
    width: 80%;
    margin: 15px auto;
}