#portfolio {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 30px;
}

#portfolioTitle {
    transform: rotate(-90deg);
    width: fit-content;
}

#portfolioTitle h3{
    font-size: 60px;
}

#gridContainer {
    width: 100%;
    margin: 0;
    padding: 30px;
    border-radius: 15px;
}

.gridImageContainer {
    margin: 0;
    position: relative;
}

.gridImageContainer:hover {
    cursor: pointer;
}

.gridImageContainer:hover .gridImage {
    filter: brightness(25%);
}

.gridImageContainer:hover .portfolioCategory {
    opacity: 1;
}

.gridImage {
    max-height: 100%;
    max-width: 100%;
}

.column {
    justify-content: center;
    margin: 3px;
}

.portfolioCategory {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    color: white;
}
